.style-header
{
    background-color: #302F2D;
    color: #DFCA1A;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  h1{
      text-align: center;
  }
  .ul-style{
    background-color: #302F2D;
    color: #DFCA1A;
  }
 